<section id="aparelhos">
    <div class="card blue-gray darken-1">
        <h3 class=header>Aparelhos <span class="small"> - painel principal</span></h3>
        <div class="divider"></div>
        <div class="space"></div>
        <div class="row">
            <div class="col s4">
                Filtre por usuários:
                <mat-form-field>
                    <mat-select name="usuarios" [(ngModel)]="usuarioSelecionado" (ngModelChange)="filtraPorUsuario()">
                        <mat-option>Todos Usuários</mat-option>
                        <mat-option *ngFor="let usuario of usuarios" [value]="usuario">
                            {{usuario.nome_usuario}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col s5 actions">
                <button class="waves-effect waves-light btn right purple" (click)="sharePDF()">
                    <i class="fa fa-share" aria-hidden="true"></i> PDF
                </button>

                <button class="waves-effect waves-light btn right purple" (click)="shareTXT()">
                        <i class="fa fa-share" aria-hidden="true"></i> TXT
                    </button>


                <button class="waves-effect waves-light btn right purple" (click)="shareCSV()">
                        <i class="fa fa-share" aria-hidden="true"></i> CSV
                    </button>
            </div>
            <div class="col s3">
                <a [routerLink]="['/aparelho/form']" class="waves-effect waves-light btn right"><i class="fa fa-plus"></i> Aparelho</a>
            </div>
        </div>

        <div class="card-content">
            <mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="codigo_aparelho">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
                    <mat-cell *matCellDef="let aparelho"> {{aparelho.codigo_aparelho}} </mat-cell>
                </ng-container>
              
                <ng-container matColumnDef="descricao_aparelho">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </mat-header-cell>
                    <mat-cell *matCellDef="let aparelho"> {{aparelho.descricao_aparelho}} </mat-cell>
                </ng-container>
              
                <ng-container matColumnDef="acoes">
                    <mat-header-cell class="text-right" *matHeaderCellDef>Ações</mat-header-cell>
                    <mat-cell class="text-right acoes" *matCellDef="let aparelho">
                      <a class="btn-floating btn-small waves-effect waves-light green" matTooltip="Editar" matTooltipPosition="left" (click)="editThis(aparelho.id_aparelho)">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                      </a>
                      <a class="btn-floating btn-small waves-effect waves-light red" matTooltip="Deletar" matTooltipPosition="left" (click)="deleteThis(aparelho.id_aparelho)">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                    </mat-cell>
                </ng-container>
              
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let aparelho; columns: displayedColumns;">
                </mat-row>
            </mat-table>
                  
             <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</section>

