<section id="usuarios">
    <div class="card blue-gray darken-1">
        <h3 class=header>Usuários
            <span class="small"> - painel principal</span>
        </h3>
        <div class="divider"></div>
        <div class="space"></div>
        <div class="row">
            <div class="col s3">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="filtro" type="text" (keyup)="applyFilter($event.target.value)">
                        <label for="filtro">Pesquise</label>
                    </div>
                </div>
            </div>
            <div class="col s3">
                Filtre por Perfil:
                <mat-form-field>
                    <mat-select name="slc_perfis" [(ngModel)]="perfilSelecionado" (ngModelChange)="filtraPorPerfil()">
                        <mat-option>Todos Perfis</mat-option>
                        <mat-option *ngFor="let perfil of perfis" [value]="perfil">
                            {{perfil.nome_perfil}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col s3">
                <button class="waves-effect waves-light btn right purple" (click)="sharePDF()">
                    <i class="fa fa-share" aria-hidden="true"></i> PDF
                </button>
            </div>
            <div class="col s3">
                <a [routerLink]="['/usuario/form']" class="waves-effect waves-light btn right">
                    <i class="fa fa-plus"></i> Usuário</a>
            </div>
        </div>

        <div class="card-content">
            <mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="nome_usuario">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
                    <mat-cell *matCellDef="let usuario"> {{usuario.nome_usuario}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="login">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Login </mat-header-cell>
                    <mat-cell *matCellDef="let usuario"> {{usuario.login}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                    <mat-cell *matCellDef="let usuario"> {{usuario.email}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cod_pessoa">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
                    <mat-cell *matCellDef="let usuario"> {{usuario.cod_pessoa}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="aparelhosTxt">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Aparelhos </mat-header-cell>
                    <mat-cell *matCellDef="let usuario"> {{usuario.aparelhosTxt}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="perfisTxt">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Perfis </mat-header-cell>
                    <mat-cell *matCellDef="let usuario"> {{usuario.perfisTxt}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="acoes">
                    <mat-header-cell class="text-right" *matHeaderCellDef>Ações</mat-header-cell>
                    <mat-cell class="text-right acoes" *matCellDef="let usuario">
                        <a class="btn-floating btn-small waves-effect waves-light green" matTooltip="Editar" matTooltipPosition="left" (click)="editThis(usuario.id_usuario)">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a class="btn-floating btn-small waves-effect waves-light red" matTooltip="Deletar" matTooltipPosition="left" (click)="deleteThis(usuario.id_usuario)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let usuario; columns: displayedColumns;">
                </mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</section>